{% extends 'base.html' %}
{% block title%}About{% endblock %}
{% block body %}
<div style="margin: 0; padding: 20px; text-align: center; background-color: grey; color: white;">
    <p style="margin: 0; padding: 10px; font-size: large; font-weight: bold;">Infy Cart is your destination for exquisite ladies' accessories, <br>
        offering a meticulously curated collection that combines the latest trends with timeless elegance.<br>
         Discover a world where each piece tells a unique story, reflecting individuality and celebrating <br>
         femininity. From chic jewelry to stylish handbags and sophisticated scarves, our diverse range ensures <br>
         you'll find the perfect complement for any occasion. Embrace affordable luxury without compromise on quality,<br>
          as Infy Care redefines accessorizing, allowing you to express your style effortlessly. Elevate your look<br>
           and make a statement with accessories that transcend fashion, becoming an integral part of your personal<br>
            narrative.</p>
</div>

{% endblock %}